<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .divImg {
            height: 200px;
            position: relative;
            width: 250px;
          




        }

        #Img {
            height: 10%;
            position: absolute;
            width: 10%;
            margin-left: 200px;
            margin-top: -50px;
            background-color: aliceblue;
        }
    </style>
    <script src="ChamadasAjax/home.js">
    </script>
</head>

<body>
    
    <center>
        <div class="divImg"> <img src="public\imagens\Logo_DJMAKER.png" width="100%" height="100%"
                class="d-inline-block align-top" alt="" ></div>


        <div class="Img"> <img src="public\imagens\DjMakerFont.png" width="40%" height="20%"
                class="d-inline-block align-top" alt=""></div>

        <a href="public\view\pages\makerPage.html">
            <div class=""> <img src="public\imagens\play-button.svg" width="40%" height="20%"
                    class="d-inline-block align-top" alt=""></div>
        </a>
    </center>

</html>